html {
  margin: 0;
  /* overflow: hidden; */
}
.svg-ctr {
  position: absolute;
  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
}

svg {
  border: 1px solid black;
  box-sizing: border-box;
}

.edgeg {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.edgeg.lifting {
  stroke-dasharray: 3 5;
  opacity: 0.3;
}


.nodeg {
  cursor: move;
  pointer-events: visibleFill;
}

.eoverlayerg {
  stroke: black;
  stroke-width: 1;
  fill: none;
}


rect.box {
  stroke: black;
  stroke-width: 1;
  fill: rgba(0,0,0,0.1);

}

.nodeg:hover rect.box {
  fill: rgba(0,0,0,0.2);
}



text.node-label {
  font-family: monospace;
  font-size: 12px;
}

text.port-label {
  font-family: monospace;
  font-size: 10px;
}

text.param-label {
  font-family: monospace;
  font-size: 10px;
}

text.param-value {
  font-family: monospace;
  font-weight: bold;
  font-size: 10px;
}


.portg path {
  stroke: black;
  stroke-width: 1px;
  fill: white;
}

.portg:hover path {
  fill: #eee;
}

.portg.lightgreen path {
  fill: #b8e0b8;
  pointer-events: none;
}

.portg.lightred path {
  fill: #e0c2b8;
  pointer-events: none;
}

.portg.green path {
  fill: green;
  pointer-events: none;
}

.portg.red path {
  fill: red;
  pointer-events: none;
}

path.snapped {
  stroke-width: 3;
  stroke: #61d161;
}

.remove-area {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.remove-area.hidden {
  opacity: 0;
}

.remove-area circle {
  /* see https://colorbrewer2.org/#type=sequential&scheme=Reds&n=8 */
  stroke: #fb6a4a;
  stroke-width: 2;
  fill: #fc9272;
}

.remove-area line {
  stroke: #fee0d2;
  stroke-width: 8;
}

.remove-area.activated {
  opacity: 1;
}

.remove-area.activated circle {
  stroke: #99000d;
  fill: #cb181d;
}

.remove-area.activated line {
  stroke: #fc9272;
}

