html {
  margin: 0;
  /* overflow: hidden; */
}

.svg-ctr {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
}

svg {
  /* border: 1px solid black; */
  box-sizing: border-box;
}

div.player-overlay {
  position:  absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* background-color: green; */
}

.pb-player {
  display: inline-block;
  min-width: 500px;
}

@media screen and (max-width: 1024px) {
  .pb-player {
    min-width: 300px;
  }
}

.pb-controls {
  display: inline-block;
  margin-bottom: 10px;
}

.pb-message {
  position:  absolute;
  right: 10px;
  bottom: 10px;
  font-family: monospace;
  color: #666;
  font-size: 12px;
}


.edgeg {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.edgeg.lifting {
  stroke-dasharray: 3 5;
  opacity: 0.3;
}


.nodeg {
  cursor: move;
  pointer-events: visibleFill;
}

.eoverlayerg {
  stroke: black;
  stroke-width: 1;
  fill: none;
}


rect.box {
  stroke: black;
  stroke-width: 1;
  fill: #ccc;

}

rect.param-bg-rect {
  stroke: none;
  fill: rgba(0, 0, 0, 0);
  transition: fill 0.2s;
}

.param-editing .paramg {
  cursor: text;
}

.param-editing rect.param-bg-rect {
  stroke: none;
  fill: #e8f7fc;

}

.param-editing .paramg:hover rect.param-bg-rect {
  stroke: none;
  fill: #d1f0fa;
}


/*
.nodeg:hover rect.box {
  fill: rgba(0,0,0,0.2);
}
*/

.nodeg.will-delete {
  stroke: #99000d;
}

.nodeg.will-delete rect.box {
  fill: rgba(255,0,0,0.2);
}

text.node-label {
  font-family: monospace;
  font-size: 12px;
}

text.port-label {
  font-family: monospace;
  font-size: 10px;
}

text.param-label {
  font-family: monospace;
  font-size: 10px;
}

text.param-value {
  font-family: monospace;
  font-weight: bold;
  font-size: 10px;
}


.portg path {
  stroke: black;
  stroke-width: 1px;
  fill: white;
  transition: fill 0.1s;
}

.portg:hover path {
  fill: #eee;
}

.portg.lightgreen path {
  fill: #b8e0b8;
  /* pointer-events: none; */
}

.portg.lightred path {
  fill: #e0c2b8;
  /* pointer-events: none; */
}

.portg.green path {
  fill: green;
  /* pointer-events: none; */
}

.portg.red path {
  fill: red;
  /* pointer-events: none; */
}

path.tmp-preview-edge {
  pointer-events: none;
}

path.snapped {
  stroke-width: 3;
  stroke: #61d161;
}

path.will-delete {
  stroke-width: 3;
  stroke: #99000d;
}

.remove-area {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.remove-area.hidden {
  opacity: 0;
}

.remove-area circle {
  /* see https://colorbrewer2.org/#type=sequential&scheme=Reds&n=8 */
  stroke: #fb6a4a;
  stroke-width: 2;
  fill: #fc9272;
}

.remove-area line {
  stroke: #fee0d2;
  stroke-width: 8;
}

.remove-area.activated {
  opacity: 1;
}

.remove-area.activated circle {
  stroke: #99000d;
  fill: #cb181d;
}

.remove-area.activated line {
  stroke: #fc9272;
}

.hover-preview {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  filter: drop-shadow( 5px 5px 5px rgba(0, 0, 0, .4));
}

.hover-preview.shown {
  opacity: 0.5;
}


