/* Modal overlay to hide page */
body.modal-open {
  overflow-y: hidden;
}

.modal-bg {
  position: absolute;
  backdrop-filter:  blur(12px);
  /* background:  rgba(255, 255, 255, 0.95); */
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
  overflow-y: auto;
}

/* Dialog background */
.modal-dg {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background: #f8f8f8;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  cursor: auto;
}

@media screen and (max-width: 1280px) {
  .modal-dg {
    width: 85%;
  }
}

.modal-dg h1 {
  display: block;
  position: relative;
  background-color: #ddd;
  color: #666;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  left: -20px;
  top: -20px;
  width: 100%;
  margin: 0;
}


.modal-dg h1 i {
  float: right;
  user-select: none;
  cursor: pointer;
  color: #bbb;
}

.modal-dg h1 i {
  color: #d2a2a2;
}

/* See https://colorbrewer2.org/#type=sequential&scheme=Reds&n=8 */
.modal-dg h1 i:hover {
  color: #cb181d;
}

.modal-dg h1 i:active {
  color: #99000d;
}


.modal-dg .header-info {
  display: block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  left: -20px;
  background-color: #ddd;
  color: #666;
  margin-top: -40px;
  margin-bottom: 10px;
  margin-right: -40px;

}

.modal-dg h2 {
  font-size: 18px;
  color: #666;
}

.modal-dg .ptext-row {
  color: #777;
  margin-bottom: 10px;
}


.modal-dg .src {
  margin-bottom: 10px;
}

.modal-dg .src input {
  width: calc( 100% - 3em );
}

.modal-dg .src i {
  float:  right;
  cursor: pointer;
  color:  #bbb;
}

.modal-dg .src i:hover {
  color:  #444;
}

.modal-dg .src i.disabled {
  display: none;
}

.modal-dg .list-entry {
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
  margin-right: -5px;
}

.modal-dg .list-entry span {
  margin-right: 5px;
}

.modal-dg .list-entry .t1 {
    color:  #5e809c;
}

.modal-dg .list-entry .t2 {
    color:  #b8bfc6;
}

.modal-dg .list-entry:hover {
  background-color: #eee;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.3);
}

.modal-dg .list-entry:hover .t1 {
    color:  #4682b4;
}

.modal-dg .list-entry:hover .t2 {
    color: #668499;
}

.modal-dg .modal-kv-row {
  margin-bottom: 10px;
}

.modal-dg .modal-kv-row .modal-kv-k {
  display: inline-block;
  width: 200px;
}

.modal-dg .modal-kv-row .modal-kv-v {
  display: inline-block;
  font-family: monospace;
}


.modal-dg .modal-dg-ftr {
  margin-top: 30px;
  text-align: center;
}

/* See https://colorbrewer2.org/#type=sequential&scheme=Greens&n=8 */
.modal-dg .btn {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  background-color: #41ab5d;
  color: #e5f5e0;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  font-size: 140%;
}

.modal-dg .btn:hover {
  background-color: #238b45;
  color: #a1d99b;
}

.modal-dg .btn:active {
  background-color: #005a32;
  color: #74c476;
}
