.note-ctr {
  pointer-events: none; /* do not interfere with toolbar */
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  align-items: center;
}

.note-top {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #74c476;
  background: #c7e9c0;
  color: #238b45;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.note-err {
  border: 1px solid #fb6a4a;
  background: #fcbba1;
  color: #99000d;
}
