html {
  margin: 0;
  /* overflow: hidden; */
}

.panes-ctr {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  transition: height 500ms, bottom 500ms;
  background-color: white;
}

.panes-ctr.dragging {
  transition: unset;
}

.panes-to-bottom {
  position: absolute;
  bottom: 0px;
  left: 5px;
}

.panes-tab-border {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -30px; /* allow box shadow to spill on top */
  height: 30px;
  border-top: 1px solid #aaa;
  box-shadow: 0px 3px 20px #888;
}
