.playback-controls {
  margin-bottom: 1em;
}

.playback-controls input {
  margin-right: 1em;
  margin-bottom: 1em;

}

.playback-controls .message {
  border:  1px solid #e0e0e0;
  background-color: #f8f8f8;
  padding: 4px;
  font-family: monospace;
  color: #666;
  margin-bottom: 5px;
}

.playback-controls span {
  margin-right: 1em;
}



.playback-player {
  /* margin-bottom: 5px; */
  /* margin-right: 5px; */

}

audio {
  vertical-align: top;
  width: 500px;
  height: 32px;
}

@media screen and (max-width: 1024px) {
  audio {
    width: 300px;
  }
}



.playback-extra-controls {
  user-select: none;
  display: inline-block;
  color: #888;
  height: 32px;
  background-color: #eee;
  vertical-align: top;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  line-height: 32px;
}

.playback-extra-controls.playback-extra-controls-smaller {
  font-size: 14px;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  line-height: 20px;

}

.playback-extra-controls.playback-extra-controls-nobg {
  padding-left: unset;
  padding-right: unset;
  border-radius: unset;
  background-color: unset;
}

.playback-extra-controls.playback-extra-controls-toptab {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  background-color: white;
  box-shadow: 8px 8px 20px #888;
}

.playback-extra-controls.playback-extra-controls-toptab i {
  border-color: white;
}

.playback-extra-controls.spaced {
  margin-left:  16px;
}

.playback-extra-controls i.txt-icon {
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  font-family: monospace;
  font-weight: 900;
}

.playback-extra-controls i {
  cursor: pointer;
  color: #888;
  border-radius: 8px;
  border: 4px solid transparent;
}

.playback-extra-controls i.red {
  color: #d2a2a2;
}

.playback-extra-controls i.highlighted {
  color: #00cc00;
  background-color: #e6ffe6;
  border-color: #e6ffe6;
}

.playback-extra-controls.playback-extra-controls-smaller i {
  border-width: 2px;
  border-radius: 2px;
}


.playback-extra-controls i:hover {
  color: #444;
  background-color: #ccc;
  border-color: #ccc;
}

.playback-extra-controls i.red:hover {
  color: #cb181d;
  background-color: #d2a2a2;
  border-color: #d2a2a2;
}

.playback-extra-controls i.highlighted:hover {
  color: #18cd18;
  background-color: #a2d2a2;
  border-color: #a2d2a2;
}


.playback-extra-controls i:active {
  color: #444;
  background-color: #aaa;
  border-color: #aaa;
}

.playback-extra-controls i.red:active {
  color: #891014;
  background-color: #cb181d;
  border-color: #cb181d;
}

.playback-extra-controls i.highlighted:active {
  color:  #108910;
  background-color: #18cd18;
  border-color: #cb181d;
}


.playback-extra-controls i.disabled {
  color: #e4e4e4;
  pointer-events: none;
}
