.display-spectrum {
  border:  1px solid #ddd;
  border-radius: 5px;
  padding:  5px;
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  margin-right: 5px;
}

.display-spectrum .label {
  display: inline-block;
  /* width:  12em; */
  position: absolute;
  top:  6px;
  left: 6px;
  color:  rgba(0, 0, 0, 0.4);
}

.display-spectrum .label2 {
  top: 24px;
}

.display-spectrum .limit {
  font-family: monospace;
  font-size: 75%;
  text-align: right;
  display: inline-block;
  width:  8em;
  position: absolute;
  right: 6px;
  color:  rgba(0, 0, 0, 0.4);
}

.display-spectrum .limit.max {
  top:  6px;
}

.display-spectrum .limit.min {
  bottom:  6px;
}
