.display-spectrum-limit {
  font-family: monospace;
  font-size: 14px;
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 6px;
  color:  rgba(0, 0, 0, 0.6);
}

.display-spectrum-limit.max {
  top:  6px;
}

.display-spectrum-limit.min {
  bottom:  6px;
}
