div.top-nav-cnt {
  border-bottom: 1px solid #ccc;
  margin: 0px;
  padding: 8px;
  background-color: #e8e8e8;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.top-nav-cell {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.top-nav-label {
  color:  #808080;
  font-size: 125%;
  font-weight: bold;
  font-style: italic;
  margin-right: 1em;
  text-wrap: nowrap;
}

.top-nav-kv-cont {
  color:  #808080;
  font-size: 85%;
  display: flex;
  margin-right: 1em;
  align-items: center;
}

.top-nav-kv-key {
  margin-right: 1em;
}

.top-nav-kv-value {
  font-family: monospace;
}


.top-nav-sep {
  margin-left: 1em;
  margin-right: 1em;
}


i.top-nav-btn-icon {
  color:  #808080;
  margin-right: 0.5em;
  cursor: pointer;
}

i.top-nav-btn-icon:hover {
  color:  #000000;
}

i.top-nav-btn-icon:active {
  color:  #a0a0a0;
}

