.pane-for-visualizations {
  padding-left: 0;
  padding-top: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.display-buttons {
  border:  1px solid #ddd;
  border-radius: 5px;
  padding:  5px;
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  margin-right: 5px;
}
