
div.matrix-container {
  margin-left: 50px;
  margin-top: 100px;
  background-color: black;
  position: relative;
  display: block;
}

div.matrix-dot-outer {
  display: block;
  position: absolute;
}

div.matrix-container.highlighting div.matrix-dot-outer {
  outline: 1px solid #555;
}

div.matrix-dot {
  border-radius: 15px;
  display: block;
  position: relative;
}

div.matrix-dot-outer.mark div.matrix-dot {
  outline: 3px solid rgba(255, 255, 255, 0.4);
}

div.matrix-container .matrix-dot .info-detail {
  display: none;
  position: absolute;
  color:  #808080;
  top: -1.2em;
  left:  -4em;
  right: -4em;
  text-align: center;
}

div.matrix-container.show-info .matrix-dot .info-detail {
    display: block;
}


div.matrix-container .controls {
  /* background-color: #888; */

  position: absolute;
  left: 0;
  top: -1em;
  z-index: 999;
}

div.matrix-container .controls:hover {
  background-color: rgba(0, 0, 0, 0.5);
  outline: 8px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  opacity: 1.0;
}

div.matrix-container .controls span.sep {
  width: 1em;
  display: inline-block;
}

div.matrix-container .controls:hover i {
  opacity: 1.0;
}

div.matrix-container .controls i {
  color:  #808080;
  cursor: pointer;
  margin-right: 0.5em;
  opacity: 0.5;
}


div.matrix-container .controls i:not(.hide-icon):hover {
  color:  #c0c0c0;
}

div.matrix-container .controls i.on {
  color:  #59c059;
  opacity: 1.0;
}

div.matrix-container .controls i.hide-icon {
  opacity: 0.2;
  cursor: default;
}

div.matrix-container .controls i.on:not(.hide-icon):hover {
  color:  #a3dca3;
}


div.matrix-container .controls i:active:not(.hide-icon) {
  color:  #ffffff;
}

div.matrix-container .controls i.on:active:not(.hide-icon) {
  color:  #daf1da;
}



div.matrix-container .container-label {
  display: none;
  position:  absolute;
  color: #808080;
  white-space: nowrap;
}

div.matrix-container.show-info .container-label {
  display: block;
}

div.matrix-container .container-label.title {
  font-size: 125%;
  bottom: -2.5em;
  left:  0;
  right:  0;
  text-align: center;
}

div.matrix-container .container-label.top {
  top: -1em;
  left:  0;
  right:  0;
  text-align: center;
}

div.matrix-container .container-label.bottom {
  bottom: -1em;
  left:  0;
  right:  0;
  text-align: center;
}

div.matrix-container .container-label.right {
  top:  0;
  bottom:  0;
  right:  -1em;
  writing-mode:vertical-lr;
    text-align: center;
    transform: rotate(180deg);
}

div.matrix-container .container-label.left {
  top:  0;
  bottom:  0;
  left:  -1em;
  writing-mode:vertical-lr;
    text-align: center;
    transform: rotate(180deg);
}
