div.page-controls {
  position: absolute;
  display: inline-block;
  right: 8px;
}

.page-controls i {
  color:  #808080;
  margin-right: 0.5em;
  cursor: pointer;
}

.page-controls i.on {
  color:  #6bc76b;
}

.page-controls i:hover:not(.stat) {
  color:  #000000;
}

.page-controls i.on:hover {
  color:  #318131;
}

.page-controls i:active:not(.stat) {
  color:  #a0a0a0;
}

.page-controls i.on:active {
  color:  #a3dca3;
}

.page-controls .sep {
  margin-left: 1em;
  margin-right: 1em;
}

.page-controls i.stat {
  cursor: help;
  margin-left: 8px;
  margin-right: 8px;
}

.page-controls i.stat.err {
  outline:  5px solid #993a1a;
  background-color: #993a1a;
  color: #d99f8c;
  border-radius: 5px;
}

.page-controls i.stat.ok {
  outline:  5px solid #126d12;
  background-color: #126d12;
  color:  #a8f0a8;
  border-radius: 5px;
}

.page-controls i.stat.warn {
  outline:  5px solid #afaf1d;
  background-color: #afaf1d;
  color:  #eded91;
  border-radius: 5px;
}
