body {
	margin: 0px;
	background-color: black;
	font-family: sans-serif;
	user-select: none;
}

div.fps {
	border-bottom: 1px solid #ccc;
	margin: 0px;
	margin-bottom: 20px;
	padding: 8px;
	background-color: #e8e8e8;
}

div.fps div.page-controls {
	position: absolute;
	display: inline-block;
	right: 8px;
}

.page-controls i {
	color:  #808080;
	margin-right: 0.5em;
	cursor: pointer;
}


.page-controls i.on {
	color:  #6bc76b;
}

.page-controls i:hover:not(.stat) {
	color:  #000000;
}

.page-controls i.on:hover {
	color:  #318131;
}


.page-controls i:active:not(.stat) {
	color:  #a0a0a0;
}

.page-controls i.on:active {
	color:  #a3dca3;
}

.page-controls .sep {
	margin-left: 1em;
	margin-right: 1em;
}

.page-controls i.stat {
	cursor: help;
	margin-left: 8px;
	margin-right: 8px;
}

.page-controls i.stat.err {
	outline:  5px solid #993a1a;
	background-color: #993a1a;
	color: #d99f8c;
	border-radius: 5px;
}

.page-controls i.stat.ok {
	outline:  5px solid #126d12;
	background-color: #126d12;
	color:  #a8f0a8;
	border-radius: 5px;
}

.page-controls i.stat.warn {
	outline:  5px solid #afaf1d;
	background-color: #afaf1d;
	color:  #eded91;
	border-radius: 5px;
}

div.fps .label {
	margin-right: 0.5em;
}

div.fps .value {
	margin-right: 1em;
	width: 3em;
	display: inline-block;
}


div.frame-counter {
	color: white;
	font-family: monospace;
	font-size:  16px;
	height: 32px;
	width: 800px;
	position: relative;
}

div.frame-counter .frame-label {
	position: absolute;
	left: 0px;
	top:  0px;
	width:  80px;
	height: 16px;
}

div.frame-counter .time-label {
	position: absolute;
	left: 0px;
	top:  16px;
	width:  80px;
	height: 16px;
}

div.frame-counter .frame-value {
	position: absolute;
	left: 80px;
	top:  0px;
	width:  80px;
	height: 16px;
}

div.frame-counter .time-value {
	position: absolute;
	left: 80px;
	top:  16px;
	width:  80px;
	height: 16px;
}

div.frame-counter .box {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 8px;
	border: 1px solid white;
}

div.frame-counter .box.on {
	background-color: white;
}


div.status-info {
	font-family: monospace;
	color:  white;
}

div.matrix-container {
	margin-left: 50px;
	margin-top: 100px;
	background-color: black;
	position: relative;
	display: block;
}

div.matrix-dot-outer {
	display: block;
	position: absolute;
}

div.matrix-dot {
	border-radius: 15px;
	display: block;
	position: relative;
}

div.matrix-dot-outer.mark div.matrix-dot {
	outline: 3px solid rgba(255, 255, 255, 0.4);
}

div.matrix-container .matrix-dot .info-detail {
	display: block;
	position: absolute;
	color:  #808080;
	top: -1.2em;
	left:  -4em;
	right: -4em;
	text-align: center;
}

div.matrix-container.hide-info .matrix-dot .info-detail {
    display: none;
}


div.matrix-container .controls {
	/* background-color: #888; */
	
	position: absolute;
	left: 0;
	top: -1em;
	z-index: 999;
}

div.matrix-container .controls:hover {
	background-color: rgba(0, 0, 0, 0.5);
	outline: 8px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	opacity: 1.0;
}

div.matrix-container .controls:hover i {
	opacity: 1.0;
}

div.matrix-container .controls i {
	color:  #808080;
	cursor: pointer;
	margin-right: 0.5em;
	opacity: 0.5;
}


div.matrix-container .controls i:hover {
	color:  #c0c0c0;
}

div.matrix-container .controls i.on {
	color:  #59c059;
	opacity: 1.0;
}

div.matrix-container .controls i.on:hover {
	color:  #a3dca3;
}


div.matrix-container .controls i:active {
	color:  #ffffff;
}

div.matrix-container .controls i.on:active {
	color:  #daf1da;
}


div.matrix-container .container-label {
	position:  absolute;
	color: #808080;
	white-space: nowrap;
}

div.matrix-container.hide-info .container-label {
	display: none;
}

div.matrix-container .container-label.top {
	top: -1em;
	left:  0;
	right:  0;
	text-align: center;
}

div.matrix-container .container-label.bottom {
	bottom: -1em;
	left:  0;
	right:  0;
	text-align: center;
}

div.matrix-container .container-label.right {
	top:  0;
	bottom:  0;
	right:  -1em;
	writing-mode:vertical-lr;
    text-align: center;
    transform: rotate(180deg);
}

div.matrix-container .container-label.left {
	top:  0;
	bottom:  0;
	left:  -1em;
	writing-mode:vertical-lr;
    text-align: center;
    transform: rotate(180deg);
}
